# Iterable variable

In [1]:
x=[1,2,3,4,5]
y={'a':1,'b':2,'c':3}
z='Hello'

In [2]:
len(x)

5

In [3]:
len(y)

3

In [4]:
len(z)

5

# for, indentation

In [5]:
x=[1,2,3,4,5]
for i in x:
    print(i)

1
2
3
4
5

In [6]:
y={'a':1,'b':2,'c':3}
for k,v in y.items():
    print(k,v)

a 1
b 2
c 3

In [7]:
z='Hello'
for i in z:
    print(i)

H
e
l
l
o

# if-else

In [8]:
1==1        #1 is equal 1

True

In [9]:
2==5        #2 is equal 5

False

In [10]:
2<5         #2 is less 5

True

In [11]:
2<=2        #2 is less or equal 2

True

In [12]:
2<2         #2 is less 2

False

In [13]:
2!=2        #2 is not wqual 2

False

In [14]:
3!=2        #3 is not wqual 2

True

In [15]:
x=5
if x==5:
    print('x is 5')
else:
    print('x is not 5')

x is 5

In [16]:
x=4
if x==4:
    print('x is 4')
elif x==5:
    print('x is 5')
else:
    print('x is neither 4 nor 5')

x is 4

# String

In [17]:
x='hello'
type(x)

str

In [18]:
x='''hello'''
type(x)

str

In [19]:
x="hello"
type(x)

str

In [20]:
x="""hello"""
type(x)

str

# String Operator

In [21]:
x='Hello'
x.upper()

'HELLO'

In [22]:
x='Hello'
x.lower()

'hello'

In [27]:
x.capitalize()

'Hello'

# split()

In [29]:
x='There are apples and bananas'

In [31]:
x.split('a')

['There ', 're ', 'pples ', 'nd b', 'n', 'n', 's']

In [30]:
x.split()

['There', 'are', 'apples', 'and', 'bananas']

In [23]:
x.lower()

'there are apples and bananas'

In [24]:
x.lower().split()

['there', 'are', 'apples', 'and', 'bananas']

# join()

In [25]:
x=["There","are","apples","and","bananas"]

In [26]:
"".join(x)

'Thereareapplesandbananas'

In [27]:
" ".join(x)

'There are apples and bananas'

In [28]:
"_".join(x)

'There_are_apples_and_bananas'

# wordcount

In [32]:
x='''
A string datatype is a datatype modeled on the idea of a formal string.
String is such an important and useful datatype.
String is implemented in nearly every programming language.
'''

In [33]:
count={}
for i in x.lower().split():
    count[i]=count.get(i,0)+1

In [34]:
count

{'a': 3,
 'string': 3,
 'datatype': 2,
 'is': 3,
 'modeled': 1,
 'on': 1,
 'the': 1,
 'idea': 1,
 'of': 1,
 'formal': 1,
 'string.': 1,
 'such': 1,
 'an': 1,
 'important': 1,
 'and': 1,
 'useful': 1,
 'datatype.': 1,
 'implemented': 1,
 'in': 1,
 'nearly': 1,
 'every': 1,
 'programming': 1,
 'language.': 1}